# Dependency directories
**/target
# Stores VSCode metadata
.vscode-test
**/.vscode
**/service_account.json
node_modules/
./.idea

\#job/private_key
\#job/client_email

\#job/package-lock.json


\#ui/node_modules
\#ui/package-lock.json